@model HomeModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo à HastyDEV, @Model.Nome</h1>
    <p>Encontre seu Projeto Ideal.</p>
    <span>Seu e-mail: @Model.Email</span>
</div>